<div class="user-info-wrapper">
	<div class="gravatar">
		<%= profile_image_for @user, 140 %>
	</div>
	
	<div class="user-info">
		<h2>
			<%= @user.full_name %>
		</h2>
		<p>
			<i class="fa fa-envelope-o"></i> <%= @user.email %>
		</p>
	</div>

	<div class="count-wrapper">
		<% if current_page? user_path %>
			<p>Total Treasures</p>
			<p class="treasure-count"><%= @user.treasures.count %></p>
		<% elsif current_page? hearted_user_path %>
			<p>Total Hearted Treasures</p>
			<p class="treasure-count"><%= @user.hearted_treasures.count %></p>
		<% end %>
	</div>
</div>
