<% page_title @user.full_name.concat('\'s Profile | Submitted Treasures') %>

<section id="user-profile-section">
	<div class="container">
		<%= render 'user_nav' %>
		<%= render 'user_info' %>
		
		<% if @user.has_treasures? %>
			<div class="tag-cloud">
				<% tag_cloud @user.tags_with_user_tag_counts, %w(xs s m l xl) do |tag, css_class| %>
					<%= link_to tag.name, tag_path(tag.name), class: css_class %>
				<% end %>
			</div>
		<% end %>
		
		<h2 class="page-title">Submitted treasures</h2>
		
		<%= submitted_treasures_for @user %>
		
		<%= will_paginate @owned_treasures %>
	</div>
</section>
