<main role="main" id="hero">
	<div class="container">
		<div class="lead-wrapper">
			<h1 class="lead">Find and share awesome sites<br>with tools and resources</h1>
		</div>

		<%= render "shared/search_form", q: @q, css_class: "hero-search-form", placeholder: "Search treasures" %>

		<div class="treasures-found">
			<p>
				<span><%= Treasure.treasure_count %></span><br>
				<%= pluralize_without_count(Treasure.treasure_count, "treasure") %> shared
			</p>
		</div>
	</div>
</main>

<section id="summary-section">
	<div class="container">
		<div class="col-wrapper">
			<div class="col-1-2 recent-col">
				<h2 class="text-center">Recently discovered</h2>

				<div class="recent-treasures-wrapper">
					<%= render @recent_treasures %>
				</div>
			</div><!--
			--><div class="col-1-2 popular-col">
				<h2 class="text-center">Popular treasures</h2>

				<div class="popular-treasures-wrapper">
					<%= render @popular_treasures %>
				</div>
			</div>
		</div>
	</div>
</section>
