<%= form_for @treasure do |f| %>
	<%= render "shared/errors", object: @treasure %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name, autofocus: true %>
	</div>

	<div class="field">
		<%= f.label :url, "URL" %><br>
		<%= f.url_field :url %>
	</div>

	<div class="field">
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :tag_list, "Tags (separated by commas)" %><br>
		<%= f.text_field :tag_list, value: @treasure.tag_list.to_s,
			data: { saved: f.object.tags.map { |t| { id: t.name, name: t.name } }.to_json, url: autocomplete_tags_treasures_path }, class: "tag-select" %>
	</div>

	<%= f.submit "Submit" %>
	<%= link_to "Cancel", @treasure %>
<% end %>
