<%= form_for @treasure do |f| %>
	<%= render "shared/errors", object: @treasure %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name, autofocus: true %>
	</div>

	<div class="field">
		<%= f.label :url, "URL" %><br>
		<%= f.url_field :url %>
	</div>

	<div class="field">
		<%= f.label :description do %>
			Description <em>(<%= link_to 'Parsed with Markdown', 'https://guides.github.com/features/mastering-markdown/', target: '_blank', class: 'float-right text-muted markdown-link' %>)</em>
		<% end %>
		<br>
		<%= f.text_area :description, rows: 8 %>
	</div>

	<div class="field">
		<%= f.label :tag_list, "Tags" %><br>
		<%= f.text_field :tag_list, value: @treasure.tag_list.to_s,
			data: { saved: @tag_data, url: autocomplete_tags_treasures_path }, class: "tag-select" %>
	</div>

	<%= f.submit "Submit", class: "btn btn-submit" %>
	<%= link_to "Cancel", @treasure, class: "cancel-link" %>
<% end %>
