<h3 class="name"><%= link_to treasure.name, treasure %></h3>

<p class="ext-link-url"><%= treasure.url %></p>

<div class="heart-wrapper">
	<%= content_tag :p do %>
		Heart <%= content_tag :span, treasure.get_likes.size, class: "heart-count" %>
	<% end %>
</div>

<p class="description"><%= treasure.description %></p>
<p class="tag-list"><%= tag_link_to treasure %></p>
