<div class="treasure-wrapper">
	<div class="name-ext-link-wrapper">
		<h3 class="name">
			<%= link_to treasure.name, treasure %>
			<span>
				<%= link_to treasure.url, class: "ext-link-url", target: "_blank" do %>
					<i class="fa fa-external-link"></i>
				<% end %>
			</span>
		</h3>
	</div>
	
	<p class="description"><%= truncate treasure.description, length: 160, separator: ' ' %></p>
	
	<%= content_tag :p, class: "heart-count" do %>
			<i class="fa fa-heart"></i> <%= treasure.get_likes.size %>
	<% end %>
	
	<%= content_tag :p, class: "tag-list" do %>
		<i class="fa fa-tag"></i> <%= tag_link_to treasure %>
	<% end %>
</div>
