<h3 class="name"><%= link_to treasure.name, treasure %></h3>

<p class="url"><%= treasure.url %></p>
<p class="btn-edit"><%= link_to "Edit", edit_treasure_path(treasure) %></p>
<p class="btn-delete"><%= link_to "Delete", treasure, method: :delete, data: { confirm: "Are you sure?" } %></p>

<div class="heart-wrapper">
	<%= content_tag :p do %>
		Heart <%= content_tag :span, treasure.get_likes.size, class: "heart-count" %>
	<% end %>
</div>

<p class="description"><%= treasure.description %></p>
<p class="tag-list"><%= tag_link_to treasure %></p>
