<%= search_result_title %>

<div class="alphanumeric-pagination">
	<ul>
		<% letters.each do |letter| %>
			<%= content_tag :li do %>
				<%= link_to letter, treasures_path(letter: letter) %>
			<% end %>
		<% end %>
	</ul>
</div>

<%= render "shared/search_form", q: @q %>

<%= render @treasures %>

<%= will_paginate @treasures, inner_window: 2, outer_window: 1 %>
