<% title = search_result_title %>
<% page_title title.gsub(/<\/?span>/, '') %>

<section id="treasures-index-section">
	<div class="container">
		<div class="alphanumeric-pagination">
			<ul>
				<% letters.each do |letter| %>
					<%= content_tag :li do %>
						<%= link_to letter, treasures_path(letter: letter) %>
					<% end %>
				<% end %>
			</ul>
		</div>
		
		<h1 class="page-title"><%= title %></h1>

		<%= render @treasures %>
		
		<%= will_paginate @treasures, inner_window: 2, outer_window: 1 %>
	</div>
</section>
