<h1><%= @treasure.name %></h1>

<p class="url"><%= link_to @treasure.url, @treasure.url, target: "_blank" %></p>
<p class="owner">Submitted by <%= @treasure.user.full_name %></p>
<p class="submitted-date"><%= local_time(@treasure.created_at, "%B %e, %Y") %></p>
<p class="description"><%= @treasure.description %></p>
<p class="tag-list"><%= tag_link_to @treasure %></p>

<div class="heart-wrapper">
	<%= link_to "Heart", heart_treasure_path(@treasure), method: :patch, class: "btn-heart" %>
	<%= content_tag :span, @treasure.get_likes.size, class: "heart-count" %>
</div>

<%= link_to "&larr; Back to the list".html_safe, treasures_path %>
