<section id="treasure-show-section">
	<div class="container">
		<div class="content-wrapper">
			<h1 class="page-title">
				<%= @treasure.name %>
				<span>
					<%= link_to edit_treasure_path(@treasure), class: "edit" do %>
						<i class="fa fa-pencil"></i>
					<% end %>

					<%= link_to @treasure, method: :delete, data: { confirm: "Are you sure?" }, class: "delete" do %>
						<i class="fa fa-trash"></i>
					<% end %>
				</span>
			</h1>
			
			<div class="submission-info">
				<p class="submitter">
					<i class="fa fa-user"></i>
					Submitted by <%= link_to @treasure.user.full_name, @treasure.user %>
				</p>
				<p class="submission-date">
					<i class="fa fa-clock-o"></i>
					<%= local_time(@treasure.created_at, "%B %e, %Y") %>
				</p>
			</div>

			<div class="sub-section">
				<h2 class="subtitle">Description</h2>
				<p><%= @treasure.description %></p>
			</div>

			<div class="sub-section">
				<h2 class="subtitle">Site Link</h2>
				<p>
					<%= link_to @treasure.url, target: "_blank" do %>
						<%= @treasure.url %>
					<% end %>
				</p>
			</div>

			
			<div class="tag-list">
				<p><i class="fa fa-tag"></i> <%= tag_link_to @treasure %></p>
			</div>
			
			<div class="heart-wrapper">
				<%= render 'heart_link', treasure: @treasure, css_class: heart_link_css %>
			</div>
			
			<%= link_to "&larr; Back to the list".html_safe, treasures_path, class: "back-to-list-link" %>
		</div>
	</div>
</section>
