<h1><%= @treasure.name %></h1>

<p class="url"><%= link_to @treasure.url, @treasure.url, target: "_blank" %></p>
<p class="owner">Submitted by <%= link_to @treasure.user.full_name, @treasure.user %></p>
<p class="submitted-date"><%= local_time(@treasure.created_at, "%B %e, %Y") %></p>
<p class="btn-edit"><%= link_to "Edit", edit_treasure_path(@treasure) %></p>
<p class="btn-delete"><%= link_to "Delete", @treasure, method: :delete, data: { confirm: "Are you sure?" } %></p>

<p class="description"><%= @treasure.description %></p>
<p class="tag-list"><%= tag_link_to @treasure %></p>

<div class="heart-wrapper">
	<%= render 'heart_link', treasure: @treasure, css_class: heart_link_css %>
</div>

<%= link_to "&larr; Back to the list".html_safe, treasures_path %>
