<footer>
	<div class="container">
		<div class="content-wrapper">
			<div class="ti-description-wrapper">
				<h2>Treasure Island</h2>
				<p class="ti-description">
					Treasure Island is a place where community members share various sites and links they found over the years that provide great tools and resources. Search for some hidden treasures and contribute by adding your own treasures to our growing list!
				</p>
			</div>

			<div class="other-links-wrapper">
				<h2>Other</h2>
				<ul class="text-links">
					<li>
						<%= footer_link_to "GitHub", UrlLinks::URLS[:github], class: "other-link" %>
					</li>
					<li>
						<%= footer_link_to "Twitter", UrlLinks::URLS[:twitter], class: "other-link" %>
					</li>
					<li>
						<%= footer_link_to "LinkedIn", UrlLinks::URLS[:linkedin], class: "other-link" %>
					</li>
					<li>
						<%= mail_to "support@jinpae.com", "Support", class: "other-link" %>
					</li>
				</ul>

				<ul class="icon-font-links">
					<li>
						<%= footer_link_to UrlLinks::URLS[:github], class: "other-link" do %>
							<i class="fa fa-github"></i>
						<% end %>
					</li>
					<li>
						<%= footer_link_to UrlLinks::URLS[:twitter], class: "other-link" do %>
							<i class="fa fa-twitter"></i>
						<% end %>
					</li>
					<li>
						<%= footer_link_to UrlLinks::URLS[:linkedin], class: "other-link" do %>
							<i class="fa fa-linkedin"></i>
						<% end %>
					</li>
					<li>
						<%= mail_to "support@jinpae.com", class: "other-link" do %>
							<i class="fa fa-envelope"></i>
						<% end %>
					</li>
				</ul>
			</div>

			<p class="copyright">&copy; 2015 Jin Pae.</p>
		</div>
	</div>
</footer>
