<header role="banner">
	<div class="container">
		<div class="logo">
			<%= render "layouts/logo" %>
		</div>

		<%= link_to "Treasure Island", root_path, class: "navbar-brand" %>

		<div class="navbar-toggle">
			<%= link_to "#" do %>
				<i class="fa fa-bars"></i>
			<% end %>
		</div>

		<nav>
			<ul>
				<li><%= nav_search_field %></li>
				<% if user_signed_in? %>
					<li><%= link_to "New Treasure", new_treasure_path %></li>
					<li><%= link_to "Treasures", treasures_path %></li>
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Treasures", treasures_path %></li>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
